footer {
  a {
    display: flex;
    align-items: center;
  }

  span {
    color: #545454;
    padding: 5px;
  }
}

.footer {
  color: white !important;
  bottom: 0px;
  width: 100%;
  min-height: 120px;
  position: absolute;
  z-index: 999;
  align-items: center;
  //   background-color: #899394;
  background-color: #d6d6d6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px;

  .logo {
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 165px;
    min-height: 60px;
    cursor: pointer;
    z-index: 99999;
  }

  .logo2 {
    display: flex;

    min-width: 355px;
    min-height: 70px;
    cursor: pointer;
    z-index: 99999;
  }

  #logo_lti {
    background-image: url("logos/lti.png");
  }

  #logo_transformika {
    // min-width: 170px;
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 165px;
    min-height: 73px;
    background-image: url("logos/transformika.webp");
  }

  #logo_playcraft {
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 165px;
    min-height: 73px;
    background-image: url("logos/playcraft.png");
    padding-top: 5px;
  }

  #logo_bo_yana {
    min-width: 120px;
    min-height: 39px;
    margin-top: 20px;

    background-image: url("https://ipos.bg/bo_yana_logo.png");
  }
}
